.border-radius(@radius) {
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.box-shadow(@shadow1) {
	-webkit-box-shadow: @shadow1;
	box-shadow: @shadow1;
}

.box-shadow(@shadow1, @shadow2) {
	-webkit-box-shadow: @shadow1, @shadow2;
	box-shadow: @shadow1, @shadow2;
}

.box-shadow(@shadow1, @shadow2, @shadow3) {
	-webkit-box-shadow: @shadow1, @shadow2, @shadow3;
	box-shadow: @shadow1, @shadow2, @shadow3;
}

.text-shadow(@shadow1) {
	text-shadow: @shadow1;
}