@import "mixins";
@import "tiles";

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url(../images/background.png);
}

#title {
	text-align: center;
	margin: 20px;
}

.logo {
	display: inline;
	background: red;
	.border-radius(10px);
	.box-shadow(0 0 20px 0 #e0e0a0, inset 0 -4px 8px #804040, inset 0 3px 6px #b0b080);
	padding: 10px 20px;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 40px;
	font-weight: bolder;
	.text-shadow(-1px -1px 0px #804040);
}

a {
  color: #00B7FF;
}