@import "mixins";
@import "tiles";

body {
  margin: 0;
  padding: 0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  .text-shadow(1px 1px 0 #444);
  color: white;
  background-image: url(../images/background.png);
}

div {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    color:#ff8;
}

input {
    padding:10px;
    font-size: 20px;
}

#title {
    text-align: center;
    margin: 60px;
}

.logo {
    display: inline;
    background: red;
    .border-radius(10px);
    .box-shadow(0 0 20px 0 #eea, inset 0 -4px 8px #844, inset 0 3px 6px #bb8);
    padding: 10px 20px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 40px;
    font-weight: bolder;
    .text-shadow(-1px -1px 0 #804040);
}

.main {
    margin: 80px auto;
    width: 800px;
    padding: 20px;
    background-color: #204010;
    border: white 1px solid;
    .border-radius(40px);
    .box-shadow(0 0 4px white, inset 2px 4px 40px #684)
}

#watching-alert {
    background-color: #eea;
    color: gray;
    width: 100%;
    padding:15px;
    .text-shadow(1px 1px 0 white);
    .box-shadow(0 0 8px #600);
    display: none;
}

#available {
    position: relative;
    height: 400px;
}

#word {
    position: relative;
    height: 80px;
}

#submit-word input {
    margin: 10px;
}

#input-word {
    display: none;
    position: relative;
    width: 766px;
    height: 46px;
    font-size: 40px;
}

#fade {
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog {
    position:relative;
    background-image: url(../images/background.png);
    width: 600px;
    height: 240px;
    text-align: center;

    padding: 20px 40px;
    margin: 300px auto;
    .border-radius(20px);
    .box-shadow(0 0 20px 0 #600, inset 0 0 10px 0 #800);
    border: 4px solid #a00;
}

#input-name {
    width: 480px;
    margin-right: 10px;
}

#button-join {
    font-weight: bold;
    width: 80px;
}

#button-watch {
    position: absolute;
    right:40px;
}

input[type="text"] {
    padding: 5px;
    .gradient(#fff, #fff, #888);
    font-size: 20px;
}

#waiting {
    display: none;
}

a {
  color: #00B7FF;
}