extends layout

block header
    header(id='watching-alert') You are not a participant in this game.  Please wait for the next game to play.

block content
  .main
    #available
    #word
    div
      form(id='submit-word')
        input(type='text', id='input-word')
    #players
      h3 Players
  #fade
    .dialog(id='login')
      h2 Ready to get squabbling?
      p To join the game, please enter your name:
      form(id='join')
        div
          input(type='text', id='input-name')
          input(type='submit', value='Join', id='button-join')
        div
          input(type='button', value="I'd rather just watch", id='button-watch')
    .dialog(id='waiting')
      h2 Waiting for other players
      form(id='ready')
        div
          input(type='submit', value='Start', id='button-start')
  script(src='javascripts/tiles.js')
  script(src='javascripts/squabble.js')
  script connect();