extends layout

block content
  .tile(data-letter='H', data-value='4')
  .tile(data-letter='E', data-value='1')
  .tile(data-letter='L', data-value='2')
  .tile(data-letter='L', data-value='2')
  .tile(data-letter='O', data-value='1')