extends layout

block content
  .main
    #available
    #word
    div
      form(id='submit-word')
        input(type='text', id='input-word')
  script(src='javascripts/tiles.js')
  script(src='javascripts/squabble.js')
  script connect();